<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>WRS player ({{.Title}})</title>
        <link rel="stylesheet" href="/public/style.css" >
        <link rel="icon" type="image/png" href="/image/wrs_logo.png">
    </head>
    <body>
        <div class="bar top_bar">
            <img id="wrs_logo_in_bar" src="/image/wrs_logo.png">
            {{if .Authenticated}}
                <a href="/signin" id="signout">
                    Sign out
                </a>
            {{end}}
        </div>
        <div class="player">
            <div class="title">
                {{.Title}}
            </div>


            <audio controls autoplay class="controls">
                <source
                    src="{{.Path}}"
                    type="{{.SongType}}"
                >
            </audio>
        </div>

        <div class="dirs">
            {{range .Dirs}}
                <a
                    href="/hoster/?crntDir={{.AbsPath}}&username={{$.Username}}&password={{$.Passwd}}">
                   {{.Name}}
                </a>
            {{end}}
        </div>
        <div class="songs">
            {{range .Musics}}
            <a href="/hoster/?crntDir={{$.CrntDir}}&song={{.AbsPath}}&username={{$.Username}}&password={{$.Passwd}}">
                    {{.Name}}
                </a>
                <br>
            {{end}}
        </div>

        <div class="bar bottom_bar">
            <img id="wrs_name_in_bar" src="/image/wrs_name.png">
            <a
                id="github_mark_in_bar"
                target="_blank"
                href="https://github.com/Keftcha/web_radio_share"
            >
                <img src="/image/github_mark.png">
            </a>
        </div>
    </body>
</html>
