<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>WRS player ({{.Title}})</title>
        <link rel="stylesheet" href="/public/style.css" >
        <link rel="icon" type="image/png" href="/image/wrs_logo.png">
    </head>
    <body>
        {{template "top_bar" .}}
        <div class="player">
            <div class="title">
                {{.Title}}
            </div>


            <audio controls autoplay class="controls">
                <source
                    src="{{.Path}}"
                    type="{{.SongType}}"
                >
            </audio>
        </div>

        <div class="dirs">
            {{range .Dirs}}
                <a
                    href="{{$.PathUrl}}?crntDir={{.AbsPath}}{{if $.Authenticated}}&username={{$.Username}}&password={{$.Passwd}}{{end}}">
                   {{.Name}}
                </a>
            {{end}}
        </div>
        <div class="songs">
            {{range .Musics}}
            <a href="{{$.PathUrl}}?crntDir={{$.CrntDir}}&song={{.AbsPath}}&username={{$.Username}}&password={{$.Passwd}}">
                    {{.Name}}
                </a>
                <br>
            {{end}}
        </div>

        {{template "bottom_bar" .}}
    </body>
</html>
